*,  *:before, *:after{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.texto {
    width: 200px;
    height: 200px;
    overflow: auto;
    background-color: rgb(146, 146, 146);
    padding: 20px;
}

